<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106271239019-3in5s403og8qakc4i09k31396515d8i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106271239019-3in5s403og8qakc4i09k31396515d8i5</string>
	<key>API_KEY</key>
	<string>AIzaSyDu9f-IDwjuqttIDibMB4AnDEyUBN7SRzY</string>
	<key>GCM_SENDER_ID</key>
	<string>106271239019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yeeMobileApp</string>
	<key>PROJECT_ID</key>
	<string>powercharge-5572a</string>
	<key>STORAGE_BUCKET</key>
	<string>powercharge-5572a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106271239019:ios:b4d28c88ce5d80e92b7a2e</string>
</dict>
</plist>